#clickMe {
  padding-top: 20%;
}
.app-wrapper {
  top: 20%;
}
.app-wrapper h1 {
  text-align: left;
}
#search-key {
  margin-top: 30px;
  margin-bottom: 30px;
}
.employee-list {
  list-style: none;
}

ul {
    clear: both;
}

.content {
    position: absolute;
    padding-top: 50px;
    padding-left: 10px;
}

.table-view {
    margin: 0 !important;
    border: none;
}
.media-object {
    width: 42px;
    height: 42px;
    border-radius: 25px;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

img {
  border: 0;
}

body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  line-height: 21px;
  color: #000;
  /*background-color: #fff;*/
}

a {
  color: #428bca;
  text-decoration: none;

  -webkit-tap-highlight-color: transparent;
}
a:active {
  color: #3071a9;
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
}

.content > * {
  -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.table-view {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 15px;
  list-style: none;
  background-color: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.table-view-cell {
  position: relative;
  padding: 11px 65px 11px 15px;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}
.table-view-cell:last-child {
  border-bottom: 0;
}
.table-view-cell > a:not(.btn) {
  position: relative;
  display: block;
  padding: inherit;
  margin: -11px -65px -11px -15px;
  overflow: hidden;
  color: inherit;
}
.table-view-cell > a:not(.btn):active {
  background-color: #eee;
}
.table-view-cell p {
  margin-bottom: 0;
}

.table-view-divider {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 15px;
  margin-top: -1px;
  margin-left: 0;
  font-weight: 500;
  color: #999;
  background-color: #fafafa;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.table-view .media,
.table-view .media-body {
  overflow: hidden;
}

.table-view .media-object.pull-left {
  margin-right: 10px;
}
.table-view .media-object.pull-right {
  margin-left: 10px;
}

.content > .table-view:first-child {
  margin-top: 15px;
}

input,
textarea,
button,
select {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
}
